<div id="<%= dom_id book %>">
  <p>
    <strong>Titulo:</strong>
    <%= book.titulo %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= book.published_at %>
  </p>

  <p>
    <strong>Author Name:</strong>
    <%= book.author.name %>
  </p>

</div>
