<div id="<%= dom_id assembly_part %>">
  <p>
    <strong>Assembly:</strong>
    <%= assembly_part.assembly_id %>
  </p>

  <p>
    <strong>Part:</strong>
    <%= assembly_part.part_id %>
  </p>

</div>
