<div id="<%= dom_id assembly %>">
  <p>
    <strong>Name:</strong>
    <%= assembly.name %>
  </p>

  <div>
    <strong>Parts:</strong>
    <% assembly.parts.each do |part| %>
      <%= link_to part, style:"text-decoration:none" do %>
        <p> <%= part.name %></p>
      <% end %>
    <% end %>
  </div>

</div>
